*{margin: 0px;
padding: 0px;
}
body {
    background-color: rgb(235, 229, 217);
    font-family: "IBM Plex Mono", monospace;
}
h1 {
    background-color: rgb(11, 9, 36);
    color: rgb(235, 229, 217);
    padding: 20px 50px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
}
h2,h3 {
    margin: 20px 50px;
    font-family: "IBM Plex Mono", monospace;
}
p {
    margin: 0px 50px;
    line-height: 150%;
}
hr {
    margin: 40px 50px;
    width: 80%;
}
ul {
    margin: 0px 50px;
    column-count:3;
}
li {
    margin: 0px 50px;
    line-height: 140%;
}
